<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center">
          Grâce à <%= image_tag('logo-white@0.25x.png')  %><br/>
          ce soir c'est <br class="visible-xs" /><span class="typed"></span>
        </h1>
      </div>
    </div>
  </div>
</header>

<main>
	<section>
		<div class="container"> 
			<h1>Les questions les plus fréquentes</h1>

			<h3>Vous aviez sélectionné "à l'emporter" mais vous vouliez être "livré à domicile"?</h3>
			<p>Il s'agit d'un cas rencontré fréquement - il est vite arrivé d'oublier quel type de commande nous avions placé. Contctez notre équipe directment et on fera les changements appropriés.</p>

			<h3>Les livraison prennent trop de temps.</h3>
			<p>Il existe de nombreuses raisons aux retards de livraisons. Elles peuvent être liées à des retards de préparation par le restaurant ou à la livraison faite par Miam. Nous ajustons automatiquement nos estimations de temps de livraison en fonction des diverses perturbations.</p>

			<h3>Certains éléments de ma commande sont manquants ou erronés!</h3>
			<p>Veuillez contacter notre support et nous réglerons ce problème. Parfois, les restaurants ou les livreurs font des erreurs. Nous faisons tout notre possible pour corriger toute erreur humaine.</p>
		</div>
	</section>
	<section>
		<div class="container">
			<h1>Paiements</h1>

			<h3>Le site internet n'a pas pris en compte mes crédits.</h3>
			<p>Le site internet dispose d'un écran de confirmation qui récapitule la commande, tels que la somme totale. Cet écran ne montre pas si les crédits ont été utilisés. Cependant, nous utilisons toujours vos crédits si la commande peut les utiliser. Certains crédits ne sont valables que pour les commandes de livraison.</p>


			<h3>Ma commande a été rejetée mais vous avez gardé mon argent.</h3>
			<p>Nous avons procédé une saisie de crédits sur votre compte, ce qui ne signifie pas que l'argent a été débité. Malheureusement, cela signifie que jusqu'à ce que votre banque libère le montant, vous ne serez pas en mesure de l'utiliser. La durée de saisie dépend de votre banque, Miam leur demande de le libérer immédiatement.</p>

			<!--
			<h3>Avez-vous facturé un montant lors de l'ajout ma carte de crédit?</h3>
			<p>Afin de déterminer si votre carte est valide, nous procédons au débit d'1 CHF. Ce franc est ensuite immédiatement libéré, ce qui signifie que vous ne perdez pas d'argent avec cette opération</p>
			-->
		</div>
	</section>
	<!--
	<section>
		<!--
		<div class="container">
			<h1>Livraison et Takeaway</h1>

			<h3>Le livreur va au mauvais endroit!</h3>
			<p>Ce que vous voyez sur la carte est l'emplacement en temps réel du livreur Miam. Certaines livraisons Miam sont regroupées, ce qui signifie que votre adresse pourrait ne pas être la première destination pour le livreur. Nous effectuons des livraisons combinées uniquement si cela a du sens. Il est rare que vous ayez à attendre plus de temps à cause de cela.</p>

			<h3>Où est le livreur? Le système affiche "bientôt" ou "livré", mais il n'est pas encore ici.</h3>
			<p>Les statuts affichés sont des estimations, et non des faits réels. Cependant, vous pouvez toujours suivre l'avancement du livreur sur la carte en plus des estimations.</p>
		</div>
	</section>
		-->
	<section>
		<div class="container">
			<h1>Notre support</h1>
			<p>Si vous n'avez pas trouvé de réponse adéquate dans notre FAQ ci-dessus, n'hésitez pas à nous contacter directement :</p>
			<ul>
			<li>Envoyez-nous un email à <a href="mailto:hello@miam.com">hello@miam.com</a></li>
			<li>Utilisez le <a href="#" id="Intercom">chat en direct</a> sur le site internet.</li>
			<li>Directement par téléphone <a href="tel:+41225481144">022 548 1144</a></li>
			</ul>
		</div>
	</section>
</main>