<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <div class="list-group">
        <% @venues.each do |venue| %>
          <%= link_to venue, class: "list-group-item" do %>
            <h4 class="list-group-item-heading"><%= venue.name %></h4>
            <p class="list-group-item-text"><%= venue.title %></p>
            <!-- ToDo Image -->
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-8">
      <!-- ToDo Map -->
    </div>
  </div>
</div>