<div class="row">
  <div class="col-sm-3">
    <%= render partial: 'details' %>
    <%= render partial: 'action_buttons' %>
  </div>
  <div class="col-sm-9">
  <%= render 'product_groups' %>
  </div>
</div>