$(document).on("turbolinks:load", function() {
  
  $('body').prepend('<div id="fb-root"></div>');

  $.ajax({
    url: window.location.protocol + "//connect.facebook.net/en_US/all.js",
    dataType: 'script',
    cache: true
  });

  window.fbAsyncInit = function() {

    FB.init({
      appId: '<%= Rails.application.secrets.facebook_app_id %>',
      cookie: true
    });

    $(document).on('click', '#facebook_login', function(event) {
      event.preventDefault();
      
      FB.login(function(response) {
        if (response.authResponse) {
          return window.location = '/auth/facebook/callback';
        }
      });
    });

    $(document).on('click', '#sign_out', function(event) {
      FB.getLoginStatus(function(response) {
        if (response.authResponse) {
          return FB.logout();
        }
      });
      return true;
    });
  };
});