<div class="panel panel-default">
  <div class="panel-heading">Actions</div>
  <div class="panel-body">
    <%= link_to 'Add Variation', new_admin_product_product_variation_path(@product), class: 'btn btn-default btn-block'  %>
    <%= link_to 'Edit', edit_admin_product_path(@product), class: 'btn btn-primary btn-block'  %>
    <%= link_to 'Destroy', admin_product_path(@product), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-block" %>
  </div>
</div>