// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.c-static_pages {

  & header {
    position: relative;
    width: 100%;
    background: url(asset-path('home/bg-panning.jpg')) top left no-repeat fixed;
    background-size: cover;
    padding: 150px 0;
    color: white;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.7);
      z-index:10;
    }

    & .container {
      position: relative;
      z-index:20;
    }

    & h1 {
      color: white;
      font-size: 40px;
      font-weight: 300;

      & .typed {
        font-weight: bold;
      }

      & img {
        height: 150px;
        margin-left: 5px;
        position: relative;
        top: -10px;
      }
    }

    & .iphone {
      max-width: 100%;

    }

    & .typed-cursor{
      opacity: 1;
      -webkit-animation: blink 0.7s infinite;
      -moz-animation: blink 0.7s infinite;
      animation: blink 0.7s infinite;
    }
  }

  & main {

    & h1 {
      display: inline-block;
      padding-bottom: 5px;
      margin-bottom: 15px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0px;
        height: 5px;
        width: 100%;
        background: $brand-primary;
        border-radius: 5px;
      }
    }

    & section {
      padding: 100px 0px;
      border-bottom: #dedede 0.5px solid;

      & p {
        line-height: 1.8em;
      }

      &.cities {
        & .badge {
          background-color: $brand-primary;
        }
        
        & input {
          border-color: $brand-primary;
        }
      }

      &.optins {
        padding: 200px 0px;
        background-image: linear-gradient(225deg, #551FCF 0%, #DC3CF6 100%);
        color: white;

        & input {
          background: transparent;
          color: white;
          border-color: white;
          
          &::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.6) !important;
          }
          &::-moz-placeholder {
            color: rgba(255, 255, 255, 0.6) !important;
          }
          &:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.6) !important;
          }
          &:-moz-placeholder {
            color: rgba(255, 255, 255, 0.6) !important;
          }
        }

        & .input-group {
          margin-top: 30px;
        }
      }
    }
  }

  & footer {
    & section {
      padding: 50px 0px;

      & * {
        color: rgb(172, 172, 172);
      }

      & a:hover {
        color: $brand-primary;
      }
    }
  }
}
