<div class="panel panel-default">
  <div class="panel-heading">User</div>
  <div class="panel-body">
    <p class="lead">
      <%= @user.email %>
      <% if @user.admin? %>
        <span class="label label-success pull-right">admin</span>
      <% end %>
    </p>
  </div>
</div>